<nav>
	<div class="left">
		<a href="./index.html">
			<div class='link'>美食天下</div>
		</a>
		<a href="">
			<div class='link'>菜谱</div>
		</a>
		<a href="">
			<div class='link'>专题</div>
		</a>
		
	</div>
	<div id="search1">
			<div>
				<input type="text" name="" id='search_box'>
			</div>
			<div id='btn2'>搜索</div>
	</div>
	<div class="right">
		<div class="link" id='login'>登录</div>
		<div class="link" id='register'>注册</div>
	</div>
</nav>

<div class="shade" id='shade'>

	<div class="login">
		<div id='cancel'>X</div>
		<input type="text" name="" placeholder="请输入用户名" id='username'>
		<input type="password" name="" placeholder="请输入密码" id='pwd'>
		<div class="btn btn-mini">登录</div>
	</div>
</div>